<app-pagination-child [records]="records" [page]="page" [totalRecords]="totalRecords" >

</app-pagination-child>
<!-- <table class="table table-striped">
    <thead>
        <tr>
            <th>Gender</th>
            <th>Name</th>
            <th>Email</th>
            <th>Picture</th>
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let record of records | paginate: { id: 'listing_pagination',
        itemsPerPage: 10,
        currentPage: page,
        totalItems: totalRecords }">
            <th>{{record.gender}}</th>
            <th>{{record.name.first}}</th>
            <th>{{record.email}}</th>
            <th>
                <img src="{{record.picture.medium}}" > 
            </th>
           
        </tr>
    </tbody>
</table> -->
<div>
<pagination-controls  id="listing_pagination" maxSize="10" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
</div>